<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About X[deca]</h2>
                <hr class="light">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/EVDby49LZ5U" frameborder="0" allowfullscreen></iframe>
                <p class="text-faded">데카에 대한 소개 블라블라 볼라볼라</p>
            </div>
        </div>
    </div>
</section>
