<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">X[deca]</h2>
                <hr class="light">
                <p class="text-faded" style="text-align:left;">
                    2001년 정말 멋진 로봇을 만들고 싶었던 전자공학과 학생들이 있었습니다. 그들은 하루에 10시간씩 열심히 공부하기로 다짐했습니다.
                    'X'라 쓰고 'deca'라고 읽는 그리스 숫자 10으로 이름을 짓고 그들은 로봇을 만들며 즐겁게 공부했다고합니다.
                    <br><br>
                    시간은 흘러 2017년<br>
                    우리는 더 멋있어 졌습니다. 호기심 많고 탐구하길 좋아하는 우리는 서로에게 배우고 함께 공부하며 빠르게 성장하고 있습니다. 로봇 뿐만 아니라 모바일 어플리케이션, 웹, 임베디드시스템 등 다양한 분야에 걸쳐 프로젝트를 진행하며 개발역량을 뽐내고 있습니다.
                    <br><br>
                    우리와 함께 더 멋있어질 여러분을 기다립니다.
                </p>
                <iframe src="https://www.youtube.com/embed/lMldR77PhMs" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/EVDby49LZ5U" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/8m7Zrlvf2ic" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/YPPGvTqEnRI" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
