<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About X[deca]</h2>
                <hr class="light">
                <p class="text-faded">X[deca]는<br>2001년 하루에 10시간씩 공부해서 <br>정말 멋진 로봇을 만들어보자는 취지하에 <br>건국대학교 전자공학부 선배들에 의해 만들어진 학술소모임입니다.</p>
                <iframe src="https://www.youtube.com/embed/EVDby49LZ5U" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/8m7Zrlvf2ic" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/2kBDt-2otgc" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.youtube.com/embed/YPPGvTqEnRI" frameborder="0" allowfullscreen></iframe>
                
            </div>
        </div>
    </div>
</section>
