<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                데카와 함께하면
                            </div>
                            <div class="project-name">
                                작품 제작에 필요한 장비들을 <br>마음껏 사용합니다.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                데카와 함께하면
                            </div>
                            <div class="project-name">
                                프로그래밍과 임베디드 시스템 등<br>
                                작품 제작에 필요한<br>
                                전자공학적 다양한 분야를 공부합니다.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                데카와 함께하면
                            </div>
                            <div class="project-name">
                                대회 나갑니다. <br>
                                데카 받은 상도 많아요!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                데카와 함께하면
                            </div>
                            <div class="project-name">
                                나만의 프로젝트가 생깁니다. <br>
                                혼자 해도 되고, 데카인들과 함께 해도 돼요!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                데카와 함께하면
                            </div>
                            <div class="project-name">
                                멋있는 친구들과 즐거운 추억이 생깁니다. <br>
                                맛있는 술도!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                데카와 함께하면
                            </div>
                            <div class="project-name">
                                성장하는 나를 발견할 수 있습니다.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
